{namespace cr = CIC\Cicregister\ViewHelpers}

<f:layout name="Login"/>

<f:section name="main">
	<h1 class="page-header">
		<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-header"/>
	</h1>
	<ul class="unstyled flash-messages">
		<f:if condition="{hasMessages}">
			<li class="well alert-error">
				<f:for each="{messages}" as="message">
					{message}
				</f:for>
			</li>
		</f:if>
		<f:if condition="{requestProcessed}">
			<f:then>
					<f:if condition="{emailSent}">
						<f:then>
							<li class="well alert-info">
								<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-requestProcessed"/>
							</li>
						</f:then>
						<f:else>
							<li class="well alert-error">
								<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-requestProcessedFailure"/>
							</li>
						</f:else>
					</f:if>
			</f:then>
			<f:else>
				<li class="well alert-info">
					<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-instructions"/>
				</li>
			</f:else>
		</f:if>
	</ul>

	<f:form enctype="multipart/form-data" action="handleForgotPassword" method="post">
		<div class="row">
			<div class="span4">
				<div class="input control-group">
					<label for="cicregister-login-emailAddress">
						<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-allActions-emailAddressLabel"/>
					</label>
					<f:form.textfield id="cicregister-login-emailAddress" name="emailAddress" value=""/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span5">
				<f:form.submit name="submit" class="btn primary" value="{f:translate(key:'LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-submit')}"/>
				&nbsp;
				<f:link.action class="btn secondary" action="login">
					<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-allActions-returnToLogin"/>
				</f:link.action>
			</div>
		</div>
	</f:form>
</f:section>