{namespace cr = CIC\Cicregister\ViewHelpers}
{namespace cb = CIC\Cicbase\ViewHelpers}

<f:layout name="Login"/>

<f:section name="main">
	<h1 class="page-header">
		<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-resetPassword-header" />
	</h1>
	<ul class="unstyled flash-messages">
		<f:form.validationResults for="password">
			<f:if condition="{validationResults.flattenedErrors}">
				<f:then>
					<li class="well alert-error">
						<f:for each="{validationResults.errors}" as="error">
							<div>
								<f:translate
										key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-frontendUserController-password-{error.code}"
										default="{error.message} (#{error.code})"/>
								<br/>
							</div>
						</f:for>
					</li>
				</f:then>
				<f:else>
					<li class="well alert-info">
						<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-resetPassword-instructions" />
					</li>
				</f:else>
			</f:if>
		</f:form.validationResults>
	</ul>

	<f:form  enctype="multipart/form-data" action="handleResetPassword" method="post">
		<div class="row row-flush">
			<div class="span4">
				<div class="input control-group">
					<label for="user">
						<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-allActions-passwordFieldLabel" />
					</label>
					<f:form.password name="password[]" value="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="input control-group">
					<label for="pass">
						<f:translate key="LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-allActions-confirmPasswordFieldLabel" />
					</label>
					<f:form.password name="password[]" value=""/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input span12">
				<f:form.submit name="submit" class="btn primary" value="{f:translate(key:'LLL:EXT:cicregister/Resources/Private/Language/locallang.xml:form-loginController-forgotPassword-submit')}"/>
			</div>
		</div>

		<input type="hidden" name="pid" value="{postParams.storagePid}"/>
		<f:form.hidden name="key" value="{key}"/>
		<f:form.hidden name="redirect_url" value="{postParams.redirectUrl}"/>
	</f:form>
</f:section>