<f:form enctype="multipart/form-data" action="saveEnrollment" method="post">
	<div class="row">
		<div class="span4">
			<div class="input control-group">
				<!-- TODO: Localize this label -->
				<label for="cicregister-frontendUser-enrollmentCode">Enrollment Code: </label>
				<f:form.textfield id="cicregister-frontendUser-enrollmentCode" name="enrollmentCode" />
				<p class="message">Required Field</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="input control-group">
				<f:form.submit class="btn primary" value="Enroll"/>
			</div>
		</div>
	</div>
</f:form>
