{namespace cr = CIC\Cicregister\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<div class="Cicregister">
		<h1 class="page-header">Update Profile</h1>

		<f:flashMessages renderMode="ul" class="unstyled well alert-success"/>

		<f:form method="post" action="update" name="frontendUser" class="CicregisterForm CicregisterForm-New"
				object="{frontendUser}">

			<div class="row">
				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{required: 'true', inputClass: 'span4', propertyName: 'firstName', propertyLabel: 'First Name'}"/>
				</div>
				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{required: 'true', inputClass: 'span4', propertyName: 'lastName', propertyLabel: 'Last Name'}"/>
				</div>
			</div>

			<div class="row">
				<div class="span4">
					<label for="cicregister-password">Update Password: </label>

					<div class="input">
						<f:form.password class="span4" id="cicregister-password" name="password[]"/>
					</div>
					<div id="cicregister-password-errors" class="errorWrap">
						<f:render partial="FieldError.html" arguments="{property: 'password'}"/>
					</div>
				</div>

				<div class="span4">
					<label for="cicregister-confirmPassword">Confirm Update Password: </label>

					<div class="input">
						<f:form.password class="span4" id="cicregister-confirmPassword" name="password[]"/>
					</div>
					<div id="cicregister-confirmPassword-errors" class="errorWrap">
						<f:render partial="FieldError.html" arguments="{property: 'password'}"/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span8">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span8', propertyName: 'email', propertyLabel: 'Email Address'}"/>
				</div>
			</div>

			<div class="row">
				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span4', propertyName: 'company', propertyLabel: 'Organization Name'}"/>
				</div>

				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span4', propertyName: 'title', propertyLabel: 'Position Title'}"/>
				</div>
			</div>

			<div class="row row-flush">
				<div class="span8">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span8', propertyName: 'address', propertyLabel: 'Street Address'}"/>
				</div>
			</div>

			<div class="row row-flush">
				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span4', propertyName: 'city', propertyLabel: 'City'}"/>
				</div>
				<div class="span4">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span4', propertyName: 'zip', propertyLabel: 'Zip Code'}"/>
				</div>
			</div>

			<div class="row">
				<div class="span8">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span8', propertyName: 'telephone', propertyLabel: 'Telephone'}"/>
				</div>
			</div>

			<div class="row">
				<div class="span8">
					<f:render partial="TextInput"
							  arguments="{inputClass: 'span8', propertyName: 'www', propertyLabel: 'Website'}"/>
				</div>
			</div>

			<div class="row">
				<div class="span8">
					<f:form.submit class="btn" value="Update Account"/>
				</div>
			</div>

		</f:form>
	</div>

</f:section>