$error_color: #C40F08;
$error_color_bg: #f6d7d3;
$highlight_color_bg: #0AA9AA;
$highlight_color_fg: #ffffff;


#cicregister-lightbox {
    background-color: #FFF;
    .CicregisterForm-New-Ajax {
    	.ie7 &, .ie8 & {

    	}
    	#loadingIndicator {
       	}
    }
}



.Cicregister {
	#loadingIndicator {
	}
}

